<div class="jumbotron jumbotron-about">
  <center>
	  <h1 class="about">About Me <span></span></h1>
  </center>
</div>

<div class="row">
	<div class="col-lg-6">
	  <div class="well">
	  	<p><%= image_tag('prof.jpg', :class => 'img-circle img-responsive') %></p>
	    <center>
	    <p>Programmer. Art Nut. Star Wars Junkie. Bollywood Lover. Adorable Animal Enthusiast.</p>
	    <a class="pink_links" href="https://github.com/pramodsum"><i class="fa fa-github-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a href="http://www.linkedin.com/pub/sumedha-pramod/35/430/620/"><i class="fa fa-linkedin-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a class="pink_links" href="https://twitter.com/pramodsum"><i class="fa fa-twitter-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a href="https://facebook.com/sumedha.pramod"><i class="fa fa-facebook-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a class="pink_links" href="https://www.youtube.com/user/superspramod"><i class="fa fa-youtube-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a href="http://instagram.com/pramodsum"><i class="fa fa-instagram fa-3x" style="margin-right: 0.5em;"></i></a></p>
	    </center>

		<address>
		  <strong>Sumedha Pramod</strong><br>
		    <p><a href="mailto:#"><i class="fa fa-envelope fa-lg" style="margin-right: 0.5em;"></i>sumedha.pramod@gmail.com</a><br>
		    <a href="mailto:#"><i class="fa fa-envelope fa-lg" style="margin-right: 0.5em;"></i>pramods@umich.com</a><br>
		</address>

		<h5>What Can I Do?</h5>
		<p class="well">C++, Ruby on Rails, Java, Android, HTML, Twitter Bootstrap, CSS, JavaScript, MySQL, VBA, Matlab, Mac OSX, Linux, Windows, Vim, Sublime, Eclipse, Visual Studio</p>

		<h5>What Have I Done?</h5>
		<div class="well scrolling">
			<p>
				<strong>Workday, Inc. Pleasanton, CA</strong> (May 2013 - August 2013)<br>
				<small>Associate Developer Generation Workday Beta Data Science Intern </small>
				<li>Designed, built, and tested a web application using Ruby on Rails that visualizes statistical data and job allocation using agile development practices and object oriented programming styles.</li>
				<li>Simulated the production environment for running integration jobs including mimicking tenant allocation using data from the stats warehouse.</li>
			</p>
			<p>
				<strong>Navistar, Multidisciplinary Design Program University of Michigan Ann Arbor</strong> (January 2013 - December 2013)<br>
				<small>Industry Sponsored Student Group Project Android Developer</small>
				<li>Developed an android application using the Android and Google Maps API’s in a group that uses GPS input to determine current location of the vehicle in order to optimize fuel efficiency and fuel economy and/or minimize de-rate mode in large diesel powertrains.</li>
			</p>
			<p>
				<strong>MBA Social Venture Fund, Ross School of Business University of Michigan Ann Arbor</strong> (October 2012 – September 2013)<br>
				<small>Website Developer</small>
				<li>Developed and maintained components for the MBA Social Venture Fund website using a combination of HTML and CSS (http://www.umsocialventure.com).</li>
			</p>
			<p>
				<strong>Department of Emergency Medicine, Wayne State University Detroit, Michigan</strong> (June 2012– October 2012)<br>
				<small>Clinical Research Database Intern</small>
				<li>Designed a series of forms using VBA to collect data for a Cerebral Oximetry study from hospital machinery, create a separate patient data workbook with all information from forms and to standardize input from patient data/charts for studies</li>
			</p>
		</div>

		<h5>Side Involvements</h5>
		<div class="well scrolling">
			<p>
				<strong>That Brown Show Committee, Michigan Sahana Classical Music</strong> (February 2012 - Present)<br>
				<small>Treasurer</small>
				<li>Organized and managed ticket sales and the box office for a Indian cultural show for an audience of 750 people in addition to 150 dancers and singers.</li>
				<li>Secured full funding for the show and all expenses involved with receipt reimbursement.</li>
			</p>
			<p>
				<strong>Student Society for Stem Cell Research, University of Michigan Chapter</strong>(September 2010 - December 2013)<br>
				<small>President</small>
				<li>Hosted the Michigan Stem Cell Summit in January 2013 bringing researchers from all over together for the discussion on progress of stem cell research while providing students at the university the opportunity to interact and network with top stem cell researchers</li>
				<li>Developed a chapter website for the SSSCR University of Michigan using HTML on a Linux server (http://www.umich.edu/~umssscr/index.html)</li>
				<li>Founded the umStem Research Program which gives students the resources and connections needed to successfully gain research positions within 13 associated labs</li>
				<li>Presented and authored a poster for the World Stem Cell Summit in Detroit on the “Counter Productivity of Patenting Stem Cell Research”</li>
			</p>
		</div>
	  </div>
	</div>

	<div class="col-lg-6">
	  <div class="well">
	  	<center><p class="lead">My Travels</p></center>
		<div class="row no_space">
		  <div class="col-xs-3"><%= image_tag('berkley.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('dublin.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('dublin2.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('goldengate.jpg', :class => 'img-rounded img-responsive') %></div>
		</div>
		<div class="row no_space">
		  <div class="col-xs-3"><%= image_tag('seattle.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('sf.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('sc.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('fhills.jpg', :class => 'img-rounded img-responsive') %></div>
		</div>
		<div class="row no_space">
		  <div class="col-xs-3"><%= image_tag('dublin3.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('greatwall.JPG', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('santacruz.jpg', :class => 'img-rounded img-responsive') %></div>
		  <div class="col-xs-3"><%= image_tag('sf2.jpg', :class => 'img-rounded img-responsive') %></div>
		</div>
	  </div>
	</div>
</div>