<div class="panel panel-default">
  <div class="panel-heading">
	  <%= @post.title %>
	  <div class="pull-right"> 
	  	<% if @post.tag == "news" %>
	  		<button class="btn btn-xs" disabled="disabled"><%= @post.tag %></button>
	  	<% elsif @post.tag == "interview" %>
	  		<button class="btn btn-xs" disabled="disabled"><%= @post.tag %></button>
	  	<% else %>
	  		<button class="btn btn-xs" disabled="disabled"><%= @post.tag %></button>
	  	<% end %>
	  </div>
  </div>
  <div class="panel-body">
  	<%= @post.text %>
  </div>
</div>