<!-- <li><a data-toggle="modal" href="#postModal">New Post</a></li> -->
<!-- <button class="btn btn-default" data-toggle="modal" href="#postModal">New Post</button> -->
<!-- <%= button_to 'New Post', new_post_path, :class => 'btn btn-default' %> -->
<center>
	<% if @tag == "news" %> 
	 	<center><div class="news_title"><h1>News</h1></div><br>
	<% elsif @tag == "algorithm" %>
		<div class="algo_title"><h1>Algorithms</h1></div><br>
	<% elsif @tag == "interview" %>
		<div class="interview_title"><h1>Interview Questions</h1></div><br>
	<% elsif @tag == "fun" %>
		<div class="fun_title"><h1>Just For Fun</h1></div><br>
	<% else %>
		<div class="posts_title"><h1>Posts</h1></div><br>
	<% end %>
</center>

<div class="col-md-2 well">
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= link_to tag.name, posts_path(:tag => tag.name), :class => css_class %>
	<% end %>
</div>

<div class="col-md-10">
	<% if @posts.empty? %> 
		<%= render "posts/empty" %>
	<% else %> 
	  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
		  <% @posts.each do |post| %>
			<div class="col-md-4">
			    <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4><%= link_to post.title, post, :class => 'post_title pink_links' %></h4>
				    </div>
				    <div class="panel-body">
				      <p><small><%= time_ago_in_words(post.created_at) %> ago</small></p>
				      <p><%= post.text.html_safe %></p>
				      <p>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

				      <!-- <div class="pull-right"> 
					      <%= link_to 'Edit', edit_post_path(post) %> | 
						  <%= link_to 'Delete', {:controller=>:posts,:action=>:destroy, :id=>post}, :method=>:delete %>
					  </div>  -->
				    </div>
				</div>
			</div>
		  <% end %>
	  </div>
	<% end %>
</div>

<script src="index.js"></script>