<div class="panel panel-default">
  <div class="panel-heading">
	  <h4><%= @post.title %></h4>
  </div>
  <div class="panel-body">
	<p><small><%= time_ago_in_words(@post.created_at) %> ago</small></p>
	<p><%= @post.text.html_safe %></p>
	<p>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<!-- 	<div class="pull-right"> 
	  <%= link_to 'Edit', edit_post_path(@post) %> | 
	  <%= link_to 'Delete', {:controller=>:posts,:action=>:destroy, :id=>@post}, :method=>:delete %>
	</div>  -->
  </div>
</div>

<%= link_to 'Home', root_path, :class => "btn btn-default", :method => :get  %>