<header>
  <a id="about" href={{@blog.url}}/about><img src="{{asset "images/profile.jpg"}}"class="profile img-circle img-responsive"/></a>
  <h1 class="brand-heading"><a href={{@blog.url}}>Just Sum Ninja Code</a></h1>
{{!--   <ul class="list-inline">
    <li class="col-xs-2"><a class="hvr-sink" href="http://facebook.com/pramodsum"><img src="{{asset "images/social/Facebook.png"}}"></a></li>
    <li class="col-xs-2"><a class="hvr-sink" href="http://twitter.com/pramodsum"><img src="{{asset "images/social/Twitter2.png"}}"></a></li>
    <li class="col-xs-2"><a class="hvr-sink" href="http://instagram.com/pramodsum"><img src="{{asset "images/social/Instagram.png"}}"></a></li>
    <li class="col-xs-2"><a class="hvr-sink" href="http://pinterest.com/pramodsum"><img src="{{asset "images/social/Pinterest.png"}}"></a></li>
    <li class="col-xs-2"><a class="hvr-sink" href="http://linkedin.com/in/pramodsum"><img src="{{asset "images/social/Linkedin.png"}}"></a></li>
    <li class="col-xs-2"><a class="hvr-sink" href="http://eepurl.com/beWR25"><img src="{{asset "images/social/RSS.png"}}"></a></li>
  </ul> --}}
</header>

{{>"navbar"}}
