{{! Previous/next page links - only displayed on page 2+ }}
{{!-- <div class="extra-pagination inner">
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} post">
    <header class="post-header">
        <h2 class="post-title">
            { <a href="{{url}}">{{title}}</a> }
            <br>
            <small>
              <div class="post-meta date">
                  <i class="ion-pricetag"></i> {{tags}}
                  <br>
                  <i class="ion-calendar"></i> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                  <i class="ion-chatbubble"></i> <a href="{{url}}#disqus_thread">Leave a Comment</a>
              </div>
            </small>

        </h2>
    </header>
    <section class="post-content">
        {{content words="250"}}<a href="{{url}}" title="{{title}}" class="more-link">Read&nbsp;more&nbsp;&rarr;</a></p>
    </section>
    <footer class="post-meta">
        {{> "tags"}}
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="text-center">{{pagination}}</div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'sumninjacode'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
