<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="collapse">
	<ul class="nav navbar-nav">
	  <li>
	  	<%= link_to posts_path(:scope => "news") do %> 
	  		Tech News <span class="badge"><%= Post.news.count %></span>
	  	<% end %>
	  </li>
	  <li>
	  	<%= link_to posts_path(:scope => "interview") do %> 
	  		Interview Questions <span class="badge"><%= Post.interview.count %></span>
	  	<% end %> 
	  </li>
	  <li>
	  	<%= link_to posts_path(:scope => "algorithm") do %> 
	  		Algorithms <span class="badge"><%= Post.algorithm.count %></span>
	  	<% end %>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/welcome/about_me">About Me</a></li>
	</ul>
</div>

<%= render 'layouts/newpost_modal' %>