<div class="row home-page">
  <div class="col-md-4 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
			</span>
	  		<%= link_to '<h4>Tech News</h4>'.html_safe, posts_path(:tag => :news) %>
	  </div>
	  <div class="panel-body">
	  	<% if !Post.tagged_with('news').empty? %>
	      <% @last_news = Post.tagged_with('news').last %>
		  <div class="well">
			  <h5><%= link_to @last_news.title, @last_news %></h5>
			  <p><small><%= time_ago_in_words(@last_news.created_at) %> ago</small></p>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
  <div class="col-md-4 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
			</span>
	  		<%= link_to '<h4>Interview Questions</h4>'.html_safe, posts_path(:tag => :interview) %>
	  </div>
	  <div class="panel-body">
	  	<% if !Post.tagged_with('interview').empty? %>
	      <% @last_interview = Post.tagged_with('interview').last %>
		  <div class="well">
			  <h5><%= link_to @last_interview.title, @last_interview %></h5>
			  <p><small><%= time_ago_in_words(@last_interview.created_at) %> ago</small></p>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
  <div class="col-md-4 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
			</span>
	  		<%= link_to '<h4>Algorithms</h4>'.html_safe, posts_path(:tag => :algorithm) %>
	  </div>
	  <div class="panel-body">
	  	<% if !Post.tagged_with('algorithm').empty? %>
	      <% @last_algo = Post.tagged_with('algorithm').last %>
		  <div class="well">
			  <h5><%= link_to @last_algo.title, @last_algo %></h5>
			  <p><small><%= time_ago_in_words(@last_algo.created_at) %> ago</small></p>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
</div>

<div class="row home-page">
  <div class="col-md-12 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
			</span>
	  		<%= link_to '<h4>Just For Fun</h4>'.html_safe, posts_path(:tag => :fun) %>
	  </div>
	  <div class="panel-body">
	  	<% if !Post.tagged_with('fun').empty? %>
	      <% @last_news = Post.tagged_with('fun').last %>
		  <div class="well">
			  <h5><%= link_to @last_news.title, @last_news %></h5>
			  <p><small><%= time_ago_in_words(@last_news.created_at) %> ago</small></p>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
</div>